<ul class="breadcrumb">
  <% t('nyulibraries_errors.breadcrumbs').each do |breadcrumb| %>
    <li><a href="<%= breadcrumb.first.last %>"><%= breadcrumb.first.first %></a></li>
  <% end %>
    <li class="active"><%= application_title %></li>
</ul>
