<h1><%= application_title %>: <%= t('nyulibraries_errors.500.header') %></h1>

<%= t('nyulibraries_errors.500.description_html') %>

<%= render partial: 'nyulibraries_errors/common/suggested_links', locals: { error: "500" } %>
