<h1><%= application_title %>: <%= t('nyulibraries_errors.422.header') %></h1>

<%= t('nyulibraries_errors.422.description_html') %>

<%= render partial: 'suggested_links', locals: { error: "422" } %>
