<h1><%= t('errors.500.header') %></h1>

<p>This application is temporarily unavailable or you've attempted to perform an invalid action.</p>

<p>We apologize for the inconvenience.</p>

<%= render 'common/suggested_links' %>
