<h2><%= t('errors.suggested_links.header') %></h2>

<ul>
  <% t('errors.suggested_links.links').each do |suggested_link| %>
    <%= render partial: 'common/li_link', locals: { link_hash: suggested_link } %>
  <% end %>
  <% additional_links_count = t('errors.suggested_links.additional_links').count rescue 0 %>
  <% if additional_links_count > 0 %>
    <% t('errors.suggested_links.additional_links').each do |additional_link| %>
      <%= render partial: 'common/li_link', locals: { link_hash: additional_link } %>
    <% end %>
  <% end %>
</ul>
